style.css

nav {
	float: left;
	display: block; }

.topnav {
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
  list-style: none; }

/* Style the links inside the navigation bar */
.topnav a {
  display: block;
  color: grey;
  font-size: 18px;
  text-align: center;
  padding: 30px 50px;
  float: left;
  text-decoration: none; }

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightgrey;
  color: white; }

.topnav a.active {
  background-color: white;
  color: white; }

.topnav .icon {
  display: none; }

img {
	width: 650px;
	height: 700px; }

.responsive {
  float:right; }

body {
	background-color: whitesmoke; }

p {
	color: grey;
	text-align: center;
	font-size: 50px;
	font-family: "Georgia", "Sans";
	padding-left: 35px;
	padding-top: 300px; }

#div2 {
	background-color: lightgrey;
	width: 100%;
	float: left;
	height: 700px;  }


#social {
	font-size: 25px; }

p2 {
	font-size: 20px;
	color: grey; 
	font-family: "Georgia", "Sans";
	padding-top: 20px;
	padding-left: 40px;}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: left; }



h3 { 
	background-color: lightgrey;
	color: grey;
	font-family: "Georgia", "Sans";
	font-size: 40px;
	padding-top: 50px;
	padding-left: 100px;
	height: 45px; }

p3 {
	background-color: lightgrey;
	color: grey;
	font-size: 22px;
	font-family: "Georgia", "Sans";
	padding-top: 70px;
	padding-left: 65px;
	float: left; }

#sleds {
	width: 370px;
	height: 305px; }

#walk {
	width: 220px;
	height: 305px; }

#sail {
	width: 220px;
	height: 305px; }

#fish { 
	width: 220px;
	height: 305px; }

#racing { 
	width: 360px;
	height: 305px; }

p4 {
	position: relative; }


h4 { 
	background-color: lightgrey;
	color: grey;
	font-family: "Georgia", "Sans";
	font-size: 40px;
	padding-top: 70px;
	padding-left: 100px;
	height: 100px; }


ul1 {
	background-color: lightgrey;
	color: grey;
	font-family: "Georgia", "Sans";
	font-size: 24px;
	padding-left: 65px;
	float: left;
	width: 95.27%;
	height: 400px;
}

#experience {
	background-color: lightgrey;
}



